.bunner {
  background-color: var(--color-black-green);
  display: flex;
}

.bunner_image {
  width: 411px;
  height: 560px;
  flex-shrink: 0;
}

.bunner_content {
  width: 789px;
  height: 560px;
  padding: 101px;

  .bunner_head {
    font-size: 56px;
    font-weight: 700;
    color: var(--color-white);
  }

  .bunner_midle {
    width: 488px;
    font-size: 20px;
    line-height: 125%;
    color: var(--color-white);
    padding-top: 20px;
  }

  .bunner_button {
    font-size: 20px;
    line-height: 125%;
    background-color: var(--color-white);
    color: var(--color-black-green);
    margin-top: 35px;
    padding: 15.5px 25.21px 15.5px 25.79px;
  }
}
