.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 44px;
}

.header__lupa {
}

.header__menu {
  display: flex;
  gap: 30px;
}

.header__nav {
  width: 472px;
  height: 21px;

  .nav__list {
    display: flex;
    gap: 50px;
    font-size: 16px;

    .nav__item {
      margin-right: 20px;
      color: var(--color-black-no-black);
    }
  }
}
