.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 44px;
}

.header_lupa {
}

.header_menu {
  display: flex;
  gap: 30px;
}

.header_nav {
  width: 472px;
  height: 21px;

  .nav_list {
    display: flex;
    gap: 50px;
    font-size: 16px;

    .nav_item {
      margin-right: 20px;
      color: var(--color-black-no-black);
    }
  }
}
